body {
  background-color: #d0e8f2;
}

.App {
  text-align: center;
}

.main-header {
  background-color: #df7861;
  padding: 4px 32px;
  color: white;
}

.header-brand-container {
  display: inline;
  margin: auto;
}

/* .app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.gameselect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbergame-container {
  margin-top: 30px;
}

.numberbox-main-container {
  margin: auto;
  height: 300px;
  width: 300px;
  padding: 20px 20px;
}

.numberbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-self: center;
}

.numberbox-digit {
  border-radius: 0%;
  border-color: white;
  min-height: 85px;
  min-width: 85px;
}

.numbergame-card-deck {
  margin: auto;
  width: 75%;
}

.intro-container {
  padding: 12px;
  margin-bottom: 20px;
}

.intro-text {
  padding: 20px;
  font-size: 2rem;
}

.intro-text-instruction {
  padding: 12px;
  font-size: 1rem;
  line-height: 1;
}

.history-container {
  margin: auto;
  text-align: center;
  width: 200px;
}

.ranking-container {
  margin: auto;
  width: 200px;
}

.listgroup-playerlist {
  margin: auto;
  width: 70%;
  padding: 12px;
}

.inputgroup-formcontrol {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 60%;
}

.card-button {
  margin: 10px;
  justify-content: center;
}

.playerlist-listitem {
  display: flex;
  min-width: 200px;
  border: 1px solid #456268;
  justify-content: space-between;
}

