.App {
  text-align: center;
}

.main-header {
  background-color: #282c34;
  padding: 8px 32px;
  color: white;
}

/* .app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.app-container {
  /* font-size: calc(10px + 2vmin); */
}

.numberbox-container {
  padding: 30px;
}

.intro-container {
  padding: 12px;
  margin-bottom: 20px;
}

.intro-text {
  padding: 12px;
  font-size: 1.75rem;
}

.intro-text-instruction {
  padding: 12px;
  font-size: 1rem;
  line-height: 0.5;
}
